a:link {color: #bc5bb9; text-decoration: none;}       /* 未访问的链接 */
a:visited {color: #bc5bb9; text-decoration: none;}  /* 已访问的链接 */
a:hover {color: #bc5bb9; text-decoration: none;}    /* 鼠标移动到链接上 */
a:active {color: #bc5bb9; text-decoration: none;}

* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei"
}

body {
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    min-width: 800px;
    overflow: scroll;
    min-height: 600px;
    position: absolute;
    background-color: rgba(142,179,146,0.3);
}

#container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    box-shadow: 0px 2px 8px 3px #a8a8a8;
}

#container header {
    width: 100%;
    height: 150px;
    margin:0 auto;
    position: relative;
}

header .headline {
    width:100%;
    height: 100%;
}

#container article {
    width: 100%;
    height: auto;
    min-height: 500px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    background-color: #f1e3c6;
}

article .article {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    word-break: break-all;
}

article .article p {
    white-space: pre-line;
}


article h1 {
    margin: 20px 0 15px 0;
}

article h2 {
    margin: 5px 0;
    font-size: 22px;
    padding: 2px 0px 4px 5px;
    background-color: #e8c9a4;
}

article h3 {
    font-size: 18px;
}

article img {
    display: block;
}

article code pre {
    font-size: 12px;
    background: #e8e8e8;
    padding: 4px 0px;
    border: 1px solid #c9c9c9;
}

article .time {
    margin-bottom: 8px;
}

article .red {
    color: red;
}
