<!DOCTYPE html>

<html>
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <title>{{ page.title }}</title>
      <link rel="stylesheet" type="text/css" href="css/homepage/main.css">
    </head>
    <body>
        <div id="container">
            <div id="head">
                <img class="headline" src="images/main_head.jpg">
                <img class="myself"src="images/myself.png" alt="">
            </div>

            <div id="contain">
                {{ content }}
            </div>
        </div>

    </body>
</html>