<!DOCTYPE html>

<html>
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <title>{{ page.title }}</title>
      <link rel="stylesheet" type="text/css" href="css/homepage/main.css">
    </head>
    <body>
        <div id="container">
            <header>
                <img src="images/homepage/main_head.jpg">
                <canvas id="canvas_rain"></canvas>
            </header>

            <article>
                {{ content }}
            </article>
        </div>

    <script type="text/javascript" src="js/homepage/main.js"></script>
    </body>
</html>