<!DOCTYPE html>

<html>
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <title>{{ page.title }}</title>
      <link rel="stylesheet" type="text/css" href="../../../css/post/main.css">
    </head>
    <body>
        <div id="container">
            <div id="head">
                {% if page.img %}
                   <img class="headline" src="{{ page.img }}">
                {% else %}
                   <img class="headline" src="../../../images/detail/detail_default_head.jpg">
                {% endif %}
            </div>
            <div id="contain">
                {{ content }}
            </div>
        </div>

    </body>
</html>